body, p {
  font-family: 'Montserrat', sans-serif;
  color: #2c2c34;
  font-size: 16px;
}

h1 {
    font-family: 'Cabin', sans-serif;
    color: #fff; 
}

h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
  color: #ff7d59; 
  font-weight: 700;
  margin: 0 0 10px 0;
}